@model FreshShop.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center">ForgotPassword</h1>

<hr />
<div class="row">
    <div class="col-md-4 offset-4">
        @if (Model?.EmailSent == true)
        {
            <div class="alert alert-success" role="alert">
                <p>If you are registered with us,<br />
                We have sent an email on your registered email id</p>
            </div>
        }
        else
        {
            <p>Forgot your password? No worries you can reset it here easily.</p>
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" autocomplete="off"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Continue" class="btn btn-primary" />
                </div>
            </form>
        }

    </div>
</div>

<div class="col-md-4 offset-4">
    <a asp-action="Login" asp-controller="Account">Login</a>
</div>

