
@{
    ViewData["Title"] = "AddNewProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div class="container" style="padding-left:200px">
    <h3 class="display-4">Add New Product</h3>
    <hr />
    @*@if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success" role="alert">
            You have successfully added new product! Click <a asp-controller="Product" asp-action="GetProduct" asp-route-id="@ViewBag.ProductId">here</a> to view details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }*@

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="ProductName" class="control-label">ProductName</label>
            <input type="text" asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId" class="control-label">Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="(await _categoryRepo.GetCategories()).Select(x => new SelectListItem() { Text = x.Name,Value=x.Id.ToString()})">
                <option value="">Please choose Product Category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label">Price</label>
            <input type="number" asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <textarea class="form-control" asp-for="Description" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CoverPhoto" class="control-label">ProductName</label>
            <div class="custom-file">
                <input asp-for="CoverPhoto" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="CoverPhoto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GalleryFiles" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="GalleryFiles" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="GalleryFiles" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add New Product </button>
        </div>
    </form>
</div>

