@model ProductModel
@inject FreshShop.Repository.ICategoryRepository _categoryRepo
@{
    ViewData["Title"] = "AddNewProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div class="container">
    <br />
    <h2 style="margin-left:200px;color:black"><b>Add New Product</b></h2>
    <h3 style="margin-left:200px;">@ViewBag.message</h3>
    <form method="post" enctype="multipart/form-data" style="margin-left:200px;">
        <div class="form-group">
            <label asp-for="ProductName" class="control-label">ProductName</label>
            <input type="text" asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId" class="control-label">Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="(await _categoryRepo.GetCategories()).Select(x => new SelectListItem() { Text = x.Name,Value=x.Id.ToString()})">
                <option value="">Please choose Product Category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label">Price</label>
            <input type="number" asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <textarea class="form-control" asp-for="Description" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CoverPhoto" class="control-label">ProductName</label>
            <div class="custom-file">
                <input asp-for="CoverPhoto" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="CoverPhoto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GalleryFiles" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="GalleryFiles" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="GalleryFiles" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IsAvailable" class="control-label">Available</label>
            <div class="custom-file">
                <input asp-for="IsAvailable" type="checkbox">
            </div>
            <span asp-validation-for="IsAvailable" class="text-danger"></span>
        </div>

        <div class="form-group">
            @*<input type="submit" class="btn btn-primary" value="Save" onclick="Add()"/>*@
            <button asp-action="AddNewProduct" class="btn btn-primary" asp-controller="Product">Save</button>
            <a asp-action="Index" class="btn btn-success" asp-controller="AdminProduct" asp-area="Admin">Back to List</a>
        </div>
    </form>
</div>


