@model FreshShop.Data.Products
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject FreshShop.Repository.ICategoryRepository _categoryRepo
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
<br />
<h2 style="margin-left:400px;color:black"><b>Product Details</b></h2>
<form asp-action="Details" method="post">
    <div class="p-4 rounded border" style="margin-left:400px">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductName" class="control-label"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="ProductName" class="form-control" readonly="readonly" />
            </div>
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CategoryId" class="control-label">Category</label>
            </div>
            <div class="col-5">
                <select asp-for="CategoryId" class="form-control" asp-items="(await _categoryRepo.GetCategories()).Select(x => new SelectListItem() { Text = x.Name,Value=x.Id.ToString()})" disabled>
                    <option value="">Please choose Product Category</option>
                </select>
            </div>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Price" class="control-label"></label>
            </div>
            <div class="col-5">
                <input type="number" asp-for="Price" class="form-control" readonly="readonly" />
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Description" class="control-label"></label>
            </div>
            <div class="col-5">
                <textarea asp-for="Description" class="form-control" rows="3" readonly="readonly"></textarea>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="IsAvailable" class="control-label">Available</label>
            </div>
            <div class="col-5">
                <input asp-for="IsAvailable" type="checkbox" disabled>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CoverImageUrl" class="control-label">Image</label>
            </div>
            <div class="col-5">
                <input type="file" asp-for="@Model.CoverImageUrl" class="form-control img-thumbnail" disabled>
            </div>
        </div>
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-success" asp-controller="AdminProduct" asp-area="Admin">Back to List</a>
        </div>
    </div>
</form>
