@using FreshShop.Models;
@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "All Products";
}


<div class="container">
    <h3 class="display-4">All Products</h3>
    <div class="row">

        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <h4 class="my-0 font-weight-normal" style="background-color:#A2AB58">
                        <label style="font-size: 23px" class="mt-4  pl-3">@product.ProductName</label>
                    </h4>
                    <img src="@product.CoverImageUrl" class="img-thumbnail"/>
                    <div class="card-body" style="border-color:black">
                        <div class="d-flex justify-content-between align-items-center border-dark">
                            <div class="btn-group">
                                <label style="font-size: 20px;color:black"><b>Price: @product.Price</b></label>
                            </div>
                            <a asp-route="productDetailsRoute" asp-route-id="@product.Id" class="btn btn-sm pull-right" style="height: 40px; width: 120px; font-size: 20px; color: black; background-color: #A2AB58"><b>View Details</b></a>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
