@using FreshShop.Models;
@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "All Products";
}


<div class="container">
    <h3 class="display-4">All Products</h3>
    <div class="row">

        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@product.CoverImageUrl" class="img-thumbnail"/>
                    <div class="card-body">
                        @*<p class="card-text">Description</p>*@
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-route="productDetailsRoute" asp-route-id="@product.Id" class="btn btn-sm btn-outline-secondary" style="height:40px; width:120px; font-size:20px">View Details</a>
                            </div>
                            <h3 class="card-title"><strong>@product.ProductName</strong></h3>
                            @*<small class="text-muted">@fruit.Color</small>*@
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
